@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*======================================
Header Section
========================================*/

.orange-bg {
  background-color: #feeae9;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ff136f;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff136f;
}

/*======================================
Slider Section
========================================*/

.slider-bg {
  border-radius: 10px;
}

.carousel-item {
  padding: 20px 40px;
}

.price {
  color: #ff136f;
  font-weight: bold;
}

.buy-now-button {
  text-decoration: none;
  background-color: #ff136f;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}

.buy-now-button:hover {
  color: #fff;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #ff136f;
}

.carousel-control-prev {
  left: -68px;
}

.carousel-control-next {
  right: -68px;
}

.carousel-control-prev i,
.carousel-control-next i {
  color: #ff136f !important;
  font-size: 30px;
}

/*======================================
Categorie Section
========================================*/

.categories {
  padding: 0 0;
}

.categorie-1 h1,
.categorie-2 h1,
.categorie-3 h1 {
  color: white;
}
.categorie-1 img,
.categorie-2 img,
.categorie-3 img {
  width: 100px;
}

.categorie-1 {
  background-color: orange;
}
.categorie-2 {
  background-color: orchid;
}
.categorie-3 {
  background-color: blue;
}

.categorie-1,
.categorie-2,
.categorie-3 {
  padding: 10px 30px;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px 3px lightgray;
}

.card-footer {
  background-color: white;
  border-top: none;
}

#subscribe {
  height: 300px;
}
#subscribe h6 {
  color: gray;
}
